<?xml version='1.0' encoding='utf-8'?>
<widget id="com.securiteroutiere.APPSR" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"     xmlns:gap= "http://phonegap.com/ns/1.0" xmlns:android   = "http://schemas.android.com/apk/res/android"  > 
    <name>APPSR</name>
    <description>
       APPSR, la nouvelle application smartphone / Tablette dédiée à la sécurité routière, réalisée et développée en partenariat entre la préfecture des Côtes d’Armor et le Département Réseaux &amp; Télécommunications de l'IUT de Lannion.
    </description>
    <author email="contact@cotes-darmor.gouv.fr" href="http://www.cotes-darmor.pref.gouv.fr/">
        Préfet des Côtes d'Armor (22) 
    </author>
    <content src="index.html" />
	
	
	<icon src="icons/icon.png" />
	
<!-- IOS 7+ -->	
	<!-- iPhone / iPod Touch  -->
<icon src="icons/icon-60.png" gap:platform="ios" width="60" height="60" />

<!-- iPad -->
<icon src="icons/icon-76.png" gap:platform="ios" width="76" height="76" />

<!-- Settings Icon -->
<icon src="icons/icon-small.png" gap:platform="ios" width="29" height="29" />


<!-- iOS 6.1 -->

<!-- iPhone / iPod Touch -->
<icon src="icons/icon-57.png" gap:platform="ios" width="57" height="57" />

<!-- iPad -->
<icon src="icons/icon-72.png" gap:platform="ios" width="72" height="72" />

	
	
	
	
    <access origin="*" />
</widget>
